* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    line-height: 20px;
    
}
.btn{
    height: 40px;
    width: 100px;
    color: red;
    margin-bottom:40px;
}
.win{
    color: greenyellow;
    background-color: black;
    border-radius: 50%;
    width: 80px;
}
.lose{
    color: red;
    background-color: black;
    border-radius: 50%;
    width: 80px;
}
.draw{
    color: yellow;
    background-color: black;
    border-radius: 50%;
    width: 80px;
}

